@media (min-width: 220px) and (max-width: 350px) {
  .hero {
    font-size: 28px;
    line-height: 1.11;
  }
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}


@media (min-width: 220px) and (max-width: 410px) {
  .customers-section-list {
    justify-content: center;
  }
  .customers-section-container:nth-child(5) {
    margin-bottom: 72px;
  }
}
@media (min-width: 350px) and (max-width: 392px) {
  .modal {
    width: 345px;
  }
}

@media (min-width: 310px) and (max-width: 350px) {
  .modal {
    width: 308px;
  }
}

@media (min-width: 220px) and (max-width: 390px) {
  .mob-telefon {
    font-weight: 600;
    font-size: 25px;
    text-transform: capitalize;
    font-style: normal;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mob-2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab.jpg);
    max-width: 768px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tab-2x.jpg);
    }
  }
}

@media (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-comp.jpg);
    max-width: 1440px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-comp-2x.jpg);
    }
  }
  .hero {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .hero-main-text {
    margin-bottom: 36px;
  }

  .features-main {
    margin: auto;
    padding-bottom: 96px;
  }
  .features-list-item {
    width: calc((100% - 2 * 12px) / 2);
    margin: auto;
    max-width: 356px;
    justify-content: space-between;
  }
  .features-header-item {
    justify-content: start;
  }
  .hero-section {
    padding-bottom: 0px;
  }
}

@media (min-width: 768px) {
  .features-header-item {
    justify-content: start;
  }

  .team-items {
    gap: 64px 24px;
  }

  .team-header-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media (min-width: 768px) {
  .customers-section-container {
    width: 168px;
    height: 88px;
  }
  .customers-section-container:nth-child(4) {
    margin-bottom: 0;
  }

  .customers-section {
    padding-top: 96px;
  }
  .customers-section-list {
    gap: 72px 24px;
  }
}
@media (min-width: 768px) {
  .footer-container {
    max-width: 550px;
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .footer-form {
    width: 453px;
    margin-top: 0;
  }
  .footer-social-text {
    text-align: start;
  }

  .form-block {
    display: flex;
    flex-wrap: wrap;
  }
  .form-input {
    width: 264px;
  }
  .form-input:focus + .form-input-label {
    transform: translateY(+25px) scale(1.1);
  }

  .form-input:not(:placeholder-shown) + .form-input-label {
    transform: translateY(+25px);
  }

  .form-input-label {
    position: absolute;
    left: 16px;
    top: 48%;
    transform: translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-button {
    margin-top: 0;
    margin-left: 24px;
  }
}

@media (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
  .mob-menu {
    display: none;
  }
  .header-mob-munu-button {
    display: none;
  }
}

@media (max-width: 1157px) {
  hero-container .container {
    width: 1158px;
  }
  .features-item {
    display: none;
  }
  .container-works {
    display: none;
  }
}
@media (min-width: 1158px) {
  .hero-main-text {
    margin-bottom: 48px;
  }
  .features-list-photo {
    height: 112px;
    width: 264px;
    display: block;
    background-color: #f4f4fd;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .features-list {
    display: flex;
    gap: 23px;
  }
  .features-main {
    padding-bottom: 120px;
  }

  .features-list-item > h3 {
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .features-list-item {
    width: 264px;
    height: 224px;
  }

  .features-list-item:not(:last-child) {
    margin-bottom: 0px;
  }

  .features-header-text {
    font-weight: 400;
  }
  .features-header-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media (min-width: 1158px) {
  .our-works {
    padding-bottom: 120px;
  }

  .our-works-items {
    margin-top: 72px;
    justify-content: space-between;
    display: flex;
    gap: 24px;
    max-width: 1200px;
  }
  .photos-works {
    display: flex;
  }
}

@media (min-width: 1158px) {
  .team-items {
    display: flex;
    gap: 0 24px;
  }

  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media (min-width: 1158px) {
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list{
    gap: 0 24px;
  }

}

@media (min-width: 1158px) {
  .footer-container {
    max-width: 1200px;
    gap: 0;
  }

  .footer-form {
    margin-top: 0;
  }
.footer-items {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }
}

@media (min-width: 768px) {
  .header-mob-munu-button {
    display: none;
  }

  .header-navigation-nav {
    display: flex;
    margin-left: 120px;
  }

  .header-navigation-nav > li:not(:last-child) {
    margin-right: 40px;
  }
  .container-header {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .address-main {
    font-style: normal;
    display: flex;
    margin-left: 101px;
    margin-right: 16px;
    margin-left: auto;
  }
  .auth-nav > ul {
    display: inline-block;
  }
  .auth-nav > ul > li:not(:last-child) {
    margin-right: 0px;
  }

  .address {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media (min-width: 1158px) {
  .auth-nav > ul {
    display: flex;
  }
  .auth-nav > ul > li:not(:last-child) {
    margin-right: 40px;
  }

  .header-navigation-nav {
    margin-left: 76px;
  }
  .address {
    font-size: 16px;
    line-height: 1.5;
  }
  .header {
    max-width: 1200px;
    margin: auto;
  }
}

@media (min-width: 900px) and (max-width: 1158px) {
  .address {
    font-size: 14px;
    line-height: 1.5;
  }
}
